version: '3'
services:
  opensearch:
    image: opensearchproject/opensearch:latest
    container_name: opensearch-local
    environment:
      - discovery.type=single-node
      - OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m
      - OPENSEARCH_INITIAL_ADMIN_PASSWORD=Jod123@@123!
    ports:
      - "9200:9200"
      - "9600:9600"
    volumes:
      - opensearch-data:/usr/share/opensearch/data
    networks:
      - opensearch-net

  opensearch-dashboards:
    image: opensearchproject/opensearch-dashboards:latest
    container_name: opensearch-dashboards
    ports:
      - "5601:5601"
    environment:
      - OPENSEARCH_HOSTS=https://opensearch-local:9200
      - OPENSEARCH_USERNAME=admin
      - OPENSEARCH_PASSWORD=Jod123@@123!
    networks:
      - opensearch-net

volumes:
  opensearch-data:

networks:
  opensearch-net:
